:root {
  --base-reactive-green: #00DF8F;
  --base-ketchup-red: #E45A55;
  --base-cobalt-blue: #003867;
  --base-dark-olive: #374B56;
  --base-white: #EEEEEE;

  --color-primary: var(--base-reactive-green);
  --color-secondary: var(--base-cobalt-blue);
  --color-light: var(--base-white);
}
