@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 72px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  border: 0;
  background-color: transparent;

  cursor: pointer;
  user-select: none;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: default;
  }
}
