// FADE

.fade-enter-active.fade-enter-active,
.fade-leave-active.fade-leave-active {
  transition: opacity 300ms;
}

.fade-enter.fade-enter,
.fade-leave-to.fade-leave-to {
  opacity: 0;
}

// ERROR LABEL

.error-label-enter-active,
.error-label-leave-active {
  transition: transform 150ms;
  overflow: hidden;
}

.error-label-enter,
.error-label-leave-to {
  transform: translateY(-100%);
}

// SLIDE

.slide-enter-active,
.slide-leave-active {
  transition: transform 300ms ease-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-100%);
}
